.createSectionForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.createSectionForm__input {
    width: 100%;
    background-color: aliceblue;
    padding: 6px 20px;
    border-radius: 0;
}

.createSectionForm__button-submit {
    background-color: green;
    color: white;
}