.auth-register {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register__form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}