.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    justify-content: right;
    font-size: 14px;
}

.header__userAvatar {
    background-color:aquamarine;

}

.header__signOut {
    font-size: 14px;
    padding: 2px 6px;
    width: auto;
    height: auto;
    background-color: rgb(215, 91, 91);
    color: white;
}